<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jelly.othertool">

    <application>
        <activity
            android:name="com.jelly.othertool.search.activity.SearchListAct"
            android:configChanges="mcc|mnc|locale|layoutDirection|orientation|smallestScreenSize|screenLayout|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity android:name="com.jelly.othertool.main.activity.OtherToolMainAct">
            <intent-filter>
                <action android:name="com.jelly.othertool.main.activity.OtherToolMainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.jelly.othertool.column.ColumnSystemMainAct"
            android:configChanges="mcc|mnc|locale|layoutDirection|orientation|smallestScreenSize|screenLayout|screenSize|keyboardHidden"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
    </application>
</manifest>
