<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jelly.chat">

    <application>
        <!--        <activity android:name="com.jelly.chat.main.activity.ChatMainActivity" />-->

        <activity android:name="com.jelly.chat.main.activity.ChatMainAct">
            <intent-filter>
                <action android:name="com.jelly.chat.main.activity.ChatMainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
