<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jelly.provider">
    <!--android:authorities类似于http请求的域名和端口-->
    <!--android:directBootAware加密感知，安卓7.0后的新特性。需要用户开机后并解锁才能使用四大组件，同时用户解锁手机后，APP会收到另一条开机广播： Intent.ACTION_BOOT_COMPLETED -->
    <!--android:exported 为false，外部应用不能调用该四大组件，但是userid相同的话，还是可以调用，不相同，如果设置了权限和认知，外部应用添加了也可以调用，为true，外部应用可以直接调用-->
    <!--android:process新增一个自定义命名的进程-->
    <!--android:multiprocess没有android:process，为true的时候，进程随应用启动而启动，该组件可以多个实例。为false的时候，进程随应用启动而启动，该组件一个实例。
    有android:process，为true的时候，在调用的时候启动，在调用者进程初始化。为false的时候，在调用的时候启动，在process进程初始化。-->
    <!-- android:grantUriPermissions针对特定url划分特定权限-->
    <application>
        <provider
            android:name="com.jelly.provider.search.provider.SearchProvider"
            android:authorities="com.jelly.provider"
            android:directBootAware="true"
            android:exported="true"
            android:multiprocess="true"
            android:process=":provider"
            android:readPermission="com.jelly.provider.READ_PROVIDER_DATA"
            android:writePermission="com.jelly.provider.WRITE_PROVIDER_DATA" />
    </application>
</manifest>
